/* ------------------ */
/* Custom Fonts       */
/* ------------------ */

@font-face {
  font-family: "azeret_mono";
  src: url("/fonts/AzeretMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "azeret_mono";
  src: url("/fonts/AzeretMono-Italic-VariableFont_wght.ttf") format("truetype");

  font-style: italic;
}

@font-face {
  font-family: "gilroy";
  src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "gilroy";
  src: url("/fonts/Gilroy-Light.otf") format("opentype");
}

/* ------------------ */
/* Custom properties  */
/* ------------------ */

:root {
  /* colors */
  --clr-navy: #14213d;
  --clr-gold: #fca311;
  --clr-gray: #e5e5e5;
  --clr-white: #fff;
  --clr-black: #181818;

  --background-color: var(--clr-black);
  --background-color: var(--clr-white);

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-mono-normal: "azeret_mono", sans-serif;
  --ff-mono-normal-italic: "azeret_mono", sans-serif;
  --ff-sans-regular: "gilroy", sans-serif;
  --ff-sans-bold: "gilroy", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--clr-black);
  }
}

/* colors */

.bg-navy {
  background-color: var(--clr-navy);
}
.bg-gold {
  background-color: var(--clr-gold);
}
.bg-gray {
  background-color: var(--clr-gray);
}
.bg-white {
  background-color: var(--clr-white);
}
.bg-black {
  background-color: var(--clr-black);
}

.text-navy {
  color: var(--clr-navy);
}
.text-gold {
  color: var(--clr-gold);
}
.text-gray {
  color: var(--clr-gray);
}
.text-white {
  color: var(--clr-white);
}
.text-black {
  color: var(--clr-black);
}

/* typography */

.ff-mono-normal {
  font-family: var(--ff-mono-normal);
  font-weight: normal;
}
.ff-mono-normal-italic {
  font-family: var(--ff-mono-normal-italic);
  font-style: italic;
}
.ff-sans-regular {
  font-family: var(--ff-sans-regular);
  font-weight: normal;
}
.ff-sans-bold {
  font-family: var(--ff-sans-bold);
  font-weight: bold;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* ------------------ */
/* reset              */
/* ------------------ */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box !important;
}

/* body */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  /* font-family: var(--ff-mono-normal); */
  background-color: var(--clr-black);
  line-height: 1.4;
  cursor: none;
}

.cursor-dot {
  width: 11px;
  height: 11px;
  background-color: var(--clr-gold);
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 1px solid var(--clr-gold);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 500;
  pointer-events: none;
}

/* ------------------ */
/* Custom Buttons     */
/* ------------------ */

.black-button {
  background-color: transparent;
  padding: 12px 20px;
  font-family: var(--ff-mono-normal);
  font-weight: 700;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid var(--clr-navy);
  letter-spacing: 0.4em;
}
.navy-button {
  color: var(--clr-navy);
  background-color: transparent;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid var(--clr-navy);
  font-family: var(--ff-sans-regular);
  font-weight: 600;
}
.gold-button {
  color: var(--clr-gold);
  background-color: transparent;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid var(--clr-gold);
  font-family: var(--ff-sans-regular);
  font-weight: 600;
}
.white-button {
  background-color: var(--clr-white);
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid var(--clr-black);
  font-family: var(--ff-sans-regular);
  font-weight: 600;
}
.black-button:hover {
  cursor: pointer;
}

/* ------------------ */
/* Custom Sizing      */
/* ------------------ */

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

._50-width {
  z-index: 100;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
}

._50-width.align-left {
  align-items: flex-start;
}

._50-width._50-width.align-left.padding-right {
  padding-right: 60px;
}

._50-width._50-width.align-left.margin-bottom {
  padding-right: 60px;
}
._50-width._50-width.align-left.margin-right,
._50-width.margin-right {
  margin-right: 40px;
}
.heading2-menu-wrapper.margin-bottom {
  margin-bottom: 40px;
}

.heading2 {
  text-align: left;
  letter-spacing: 0.1em;
  font-family: var(--ff-sans-bold);
  font-size: 1.8em;
  font-weight: 500;
  line-height: 130%;
}

/* Navigation */

.navbar-menu {
  justify-content: center;
  display: flex;
}

.navbar-wrapper {
  z-index: 200;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  display: flex;
  position: fixed;
}

.navbar {
  z-index: 200;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;
}

.menu-open-bg {
  z-index: 10;
  width: 100%;
  height: 110%;
  background-color: var(--clr-black);
  position: absolute;
  top: -10%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.menu-open-bg-filter {
  z-index: 90;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.menu-wrapper {
  z-index: 150;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-open-wrapper {
  z-index: 100;
  width: 100%;
  height: 100%;
  transform-origin: 50% 0;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: url(../curves-lines-image.jpg),
    var(--clr-black) 50% / cover no-repeat;
  background-blend-mode: multiply;
}

.logo-wrapper {
  width: 175px;
  height: 100%;
  align-items: center;
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.center {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}

#burger-white {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 100%;
  transition: 0.5s;
}

#burger-white-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0%;
  transition: 0.5s;
}

/* Main Menu */

.content-wrapper {
  width: 70%;
  max-width: 960px;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.heading1-menu {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.heading1-menu-sub-wrapper {
  flex-direction: row;
  display: flex;
}

.heading1-menu-item {
  color: var(--clr-gold);
  font-family: var(--ff-mono-normal);
  letter-spacing: 0.275em;
  font-weight: 400;
  font-size: 2.8em;
  line-height: 150%;
  position: relative;
  text-decoration: none;
}

.heading1-menu-item.page-transition-anim.w--current:hover {
  transition: none;
  letter-spacing: 0.275em;
}
.heading1-menu-item.page-transition-anim.w--current {
  font-weight: 150;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  transition: none;
  letter-spacing: 0.275m;
}

.heading1-menu-item.page-transition-anim:hover {
  letter-spacing: 0.85em;
}
.heading1-menu-item.page-transition-anim {
  transition: letter-spacing 0.24s ease-in-out;
}

.paragraph-menu-wrapper {
  margin-bottom: 10px;
  overflow: hidden;
}

.paragraph {
  text-align: left;
  font-family: var(--ff-sans-regular);
  font-size: 1.125em;
  font-weight: 300;
  line-height: 180%;
  letter-spacing: 0.08em;
}

.loader {
  background-color: var(--clr-white);
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: var(--ff-mono-normal);
  font-size: 5em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1001;
}

.hero-section-wrapper {
  display: block;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-black);
}

.text-splitter {
  position: absolute;
  top: 102vh;
  padding: 2.4em;
  display: flex;
  flex-direction: column;
  line-height: 3em;
  width: 100vw;
  height: 350px;
  background-color: var(--clr-white);
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.text-splitter h2 {
  font-family: var(--ff-sans-regular);
  color: var(--clr-black);
  letter-spacing: 0.15em;
  max-width: 1000px;
}

.spacer {
  height: 36vh;
  top: 1200px;
  width: 100vw;
  display: flex;
  background-color: var(--clr-navy);
  position: absolute;
  overflow: hidden;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 50px;
  left: 7.5%;
}
.hero-text span {
  color: #fff;
  font-variant-numeric: slashed-zero;
  font-family: var(--ff-mono-normal-italic);
  font-size: 2.8em;
  font-style: normal;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.hero-definition {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 250px;
  left: 60%;
}
.hero-definition h3 {
  color: #fff;
  max-width: 375px;
  max-height: 600px;
  font-family: var(--ff-mono-normal);
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-wrap: pretty;
  line-height: 1.8em;
  text-transform: uppercase;
}

.local-time {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 10%;
  bottom: 0;
}
